/* Navigation Link Styles */
.nav-link-custom {
    position: relative;
    transition: transform 0.2s, border-color 0.2s;
  }
  
  .nav-link-custom:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 2px;
    background-color:#d6bd97; 
  }
  
  .nav-link-custom:active {
    transform: scale(1.1);
  }
/*Background for header*/
.custom-header {
    background-color: #f0e6b3; 
   
  }  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
 
  
 


@media (min-width: 992px) {
    .ml-auto {
        display: flex;
        flex-direction: row;
       align-items: center;
        color: white;
        text-align: center;
      }
     
}
  
 