#root {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
}

body{
  margin: 0;
}
html, body, #root {
  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.min-vh-100 {
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}




